# .env.example
# Rename this file to `.env` and fill in your actual secrets

NGROK_AUTH_TOKEN=2sxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxTFXv2B
ES_HOST=https://xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.eastus2.azure.elastic-cloud.com:443
ELASTIC_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxWl1M0hSVi1LX2pMMW5GYm5EUQ==
INDEX_NAME=notebook_index_semantic_v1
AWS_REGION=us-west-2(United States(Oregon)) #for reference